main {
    padding: 1em 1em 1em 1em;
}

section {
    padding: 0 0 1.5em 0;
}

.def {
    margin-bottom: 1em;
}

#definition {
    font-size: 0.95em;
}

.portfolio-btn {
    margin-bottom: 1rem;
}

.navbar-dark a.navbar-brand {
    color: #49fcd4;
    font-style: italic;
}

