main {
    padding: 1em 1em 1em 1em;
}

section {
    padding: 0 0 1.5em 0;
}

a:hover {
    color: #49fcd4;
}

.def {
    margin-bottom: 1em;
}

#definition {
    font-size: 0.95em;
}

.portfolio-btn {
    margin-bottom: 1rem;
}

.navbar-dark a.navbar-brand {
    font-style: italic;
}

/* Stelloprint Header */
.navbar div.container-fluid a:hover {
    color: #49fcd4;
}

/* Navbar Links */
.navbar div.container-fluid div.collapse.navbar-collapse a:hover{
    color: #49fcd4; 
}

/* Breadcrumb Text */
ol.breadcrumb li.breadcrumb-item a:hover {
    color: #49fcd4;
}

/* Contact Page links to other sites */
a.resume-link i:hover {
    filter: brightness(1.5);
}

/* Style Portfolio Images */
img.portfolio-img {
    transition: transform .2s;
}

img.portfolio-img:hover {
    -ms-transform: scale(1.025); /* IE 9 */
    -webkit-transform: scale(1.025); /* Safari 3-8 */
    transform: scale(1.025); 
    filter: brightness(0.85);
}
